*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

#books{
    max-width: 1080px;
    margin: auto;
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 40px;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10;
    border-radius: 20px;
    transition: all 0.1s ease-in;
}

.book:hover{
    transform: scale(1.03);
    box-shadow: 5px 10px 15px orange;
}

@media (max-width:992px) {
    #books{
        grid-template-columns: repeat(2,auto);
    }
}

@media (max-width:576px) {
    #books{
        grid-template-columns: repeat(1,auto);
    }
}