.main{
    border: 1px solid black;
    height: 450px;
    width: 500px;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center; */
}

.child{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 1px solid black;
}

.child1{
    /* flex-grow: 2; */
    /* flex-shrink: 1; */
    /* order: 1;
    align-self: center; */
    flex-shrink:0;
    flex-basis: 100px;
}
.child2{
    /* flex-grow: 3; */
    /* flex-shrink: -1 ; */
    order: 2;
}
.child3{
    order: 3;
    /* flex-basis:100px; */
}
.child4{
    /* flex-grow: 4; */
    /* flex-shrink: 1; */
    order: 4;
}
